<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File - VulnPortal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Upload File</h1>
    <p>Here you can contribute to our wonderful vault of files. 
        You may only upload files of the type: pdf, png, jpeg, jpg, and gif. </p>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <input type="submit" value="Upload">
    </form>
    <a href="{{ url_for('home') }}">Go back to main page</a>
</body>
</html>